<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Teste</servlet-name>
        <servlet-class>servlets.Teste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleDeAcessoAluno</servlet-name>
        <servlet-class>filters.ControleDeAcessoAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DistribuirServlet</servlet-name>
        <servlet-class>servlets.DistribuirServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarQuestaoServlet</servlet-name>
        <servlet-class>servlets.AlterarQuestaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarServlet</servlet-name>
        <servlet-class>servlets.AtualizarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirQuestaoServlet</servlet-name>
        <servlet-class>servlets.InserirQuestaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverQuestaoServlet</servlet-name>
        <servlet-class>servlets.RemoverQuestaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarProfessorServlet</servlet-name>
        <servlet-class>servlets.CadastrarProfessorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarAlunoServlet</servlet-name>
        <servlet-class>servlets.CadastrarAlunoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelecionarTipoQuestoesServlet</servlet-name>
        <servlet-class>servlets.SelecionarTipoQuestoesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarProvaPorDisciplinaServlet</servlet-name>
        <servlet-class>servlets.BuscarProvaPorDisciplinaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarProvaPorAssuntoServlet</servlet-name>
        <servlet-class>servlets.BuscarProvaPorAssuntoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConstruirProvaServlet</servlet-name>
        <servlet-class>servlets.ConstruirProvaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecebeRespostasServlet</servlet-name>
        <servlet-class>servlets.RecebeRespostasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarResultadoServlet</servlet-name>
        <servlet-class>servlets.BuscarResultadoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Teste</servlet-name>
        <url-pattern>/Teste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleDeAcessoAluno</servlet-name>
        <url-pattern>/ControleDeAcessoAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DistribuirServlet</servlet-name>
        <url-pattern>/DistribuirServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarQuestaoServlet</servlet-name>
        <url-pattern>/AlterarQuestaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarServlet</servlet-name>
        <url-pattern>/AtualizarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirQuestaoServlet</servlet-name>
        <url-pattern>/InserirQuestaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverQuestaoServlet</servlet-name>
        <url-pattern>/RemoverQuestaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarProfessorServlet</servlet-name>
        <url-pattern>/CadastrarProfessorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarAlunoServlet</servlet-name>
        <url-pattern>/CadastrarAlunoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelecionarTipoQuestoesServlet</servlet-name>
        <url-pattern>/SelecionarTipoQuestoesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarProvaPorDisciplinaServlet</servlet-name>
        <url-pattern>/BuscarProvaPorDisciplinaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarProvaPorAssuntoServlet</servlet-name>
        <url-pattern>/BuscarProvaPorAssuntoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConstruirProvaServlet</servlet-name>
        <url-pattern>/ConstruirProvaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecebeRespostasServlet</servlet-name>
        <url-pattern>/RecebeRespostasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarResultadoServlet</servlet-name>
        <url-pattern>/BuscarResultadoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
